<div class='navspacer'>
    <nav class="navbar navbar-light bg-faded navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">{{title}}</a>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/address" routerLinkActive="active">Address</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/fees" routerLinkActive="active">Fees</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/transaction" routerLinkActive="active">Transactions</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/list/3" routerLinkActive="active">Scouts</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/emails/3" routerLinkActive="active">Scouts Emails</a></li>
            </ul>
        </div>
        <button class="btn btn-outline-success" routerLink="/detail">Add</button>
    </nav>
</div>

<router-outlet></router-outlet>